.teamSection {
  margin-top: 10rem;
  padding: 5rem 0 5rem 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.team {
  align-items: center;
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 4rem;
}

/* ==== Media Queries ==== */

@media (max-width: 850px) {
  .teamSection {
    margin-top: 2rem;
    padding: 0;
  }

  .team {
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
  }
}

@media (max-width: 1000px) {
  .teamSection {
    margin-top: 2rem;
    padding: 0;
  }
}
