.item {
  align-items: center;
  background-color: var(--clr-bg-neutral);
  border-radius: 1rem;
  border: 2px solid var(--clr-accent-primary);
  display: flex;
  flex-direction: column;
  height: 12rem;
  justify-content: center;
  width: 15rem;
}

.icon {
  color: var(--clr-text-secondary);
  font-size: 4rem;
  margin-bottom: 1rem;
}

.number {
  color: var(--clr-accent-secondary);
  color: var(--clr-text-secondary);
  font-size: 1.8rem;
  font-weight: 500;
  position: relative;
}

.number::after {
  color: var(--clr-accent-secondary);
  content: "+";
  display: block;
  font-size: 2rem;
  font-weight: 500;
  left: 90%;
  position: absolute;
  text-align: center;
  top: -1.2rem;
}

.text {
  color: var(--clr-text-secondary);
  font-weight: 500;
}

/* ==== Media Queries ==== */

@media (max-width: 530px) {
  .item {
    flex-direction: row;
    height: 10rem;
    justify-content: flex-start;
    padding: 0 2rem;
    width: 100%;
  }

  .icon {
    font-size: 4rem;
    margin-right: 2rem;
  }

  .number {
    font-size: 1.8rem;
    margin-right: 2rem;
  }

  .text {
    font-size: 1.1rem;
    font-weight: 500;
  }
}
