.navbar {
  align-items: center;
  background-color: var(--clr-bg-secondary);
  display: flex;
  height: var(--navbar-height);
  position: sticky;
  top: 0;
  z-index: 999;
}

.wrapper {
  align-self: center;
  display: flex;
  justify-content: space-between;
}

.logo {
  align-items: center;
  display: flex;
}

.icon {
  font-size: 2.5rem;
  margin: 0 0.2rem 0.5rem 0;
}

.menu {
  align-self: center;
  display: flex;
  justify-content: space-between;
}

.link {
  color: var(--clr-text-primary);
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: var(--transition-fast);
}

.link:hover {
  color: var(--clr-accent-secondary);
}

.mobileMenu {
  display: none;
}

/* ==== Media Queries ==== */

@media (max-width: 700px) {
  .link {
    display: none;
  }

  .mobileMenu {
    align-items: center;
    cursor: pointer;
    display: block;
    display: flex;
    font-size: 3rem;
    justify-content: space-between;
  }

  .mobileMenu:hover {
    color: var(--clr-accent-primary);
  }
}
