.navbar {
  background-color: var(--clr-bg-secondary);
  height: var(--navbar-height);
  display: flex;
}

.wrapper {
  display: flex;
  align-self: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 2.5rem;

  margin: 0 0.2rem 0.5rem 0;
}

.menu {
  display: flex;
  align-self: center;
  justify-content: space-between;
}

.link {
  color: var(--clr-text-primary);
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
