.scheduleCard {
  display: flex;
  padding: 4rem 0;
}

.leftContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.rightContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  width: 100%;
}

.imageWrapper {
  border-left: 5px solid var(--clr-accent-primary);
  border-bottom: 5px solid var(--clr-accent-primary);
  padding: 0 0 0.3rem 0.3rem;
}

.image {
  object-fit: cover;
}

.timeTable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  max-width: 90%;
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 50rem;
  width: 100%;
  height: 3rem;
  padding: 0 1rem;
  border-radius: 0.3rem;
  color: var(--clr-text-primary);
}

.row:nth-child(odd) {
  background-color: var(--clr-bg-primary);
  color: var(--clr-text-neutral);
}

.day {
  color: inherit;
  font-size: 1.1rem;
  font-weight: 500;
}

.time {
  color: inherit;
  font-size: 1.1rem;
  font-weight: 500;
  text-align: end;
}

.image {
  height: 30rem;
  object-fit: cover;
  width: 25rem;
}

.title {
  color: var(--clr-accent-primary);
  font-size: 2rem;
  margin-bottom: 2rem;
}

/* ==== Media Queries ==== */

@media (max-width: 920px) {
  .scheduleCard {
    flex-direction: column;
    padding: 1 0;
  }

  .button {
    max-width: 80%;
  }

  .image {
    height: auto;
    width: 100%;
  }

  .imageWrapper {
    border-left: none;
    border-top: 5px solid var(--clr-accent-primary);
    padding: 0.5rem 0;
  }

  .timeTable {
    max-width: 90%;
  }

  .rightContent {
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .scheduleCard {
    padding: 0.5rem;
  }
}
