.sectionHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 70%;
  margin: 0 auto;
  height: 100%;
}

.title {
  position: relative;
  font-size: 2rem;
  color: var(--clr-text-primary);
  margin-bottom: 2rem;
}

.title::after {
  background-color: var(--clr-accent-primary);
  bottom: -0.7rem;
  content: "";
  display: block;
  height: 2px;
  left: 35%;
  margin-top: 0.5rem;
  position: absolute;
  width: 30%;
}

.description {
  color: var(--clr-text-secondary);
  font-size: 1.1rem;
  text-align: center;
}

.accent {
  color: var(--clr-accent-primary);
}
