@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

:root {
  --font: "Poppins", sans-serif;

  --header-height: 80px;
  --navbar-height: 70px;
  --footer-height: 70px;

  --transition-fast: all 0.2s ease-in-out;
  --transition-base: all 0.3s ease-in-out;
  --transition-slow: all 0.4s ease-in-out;

  --box-shadow: 0px 2px 8px hsla(0, 0%, 0%, 0.25);
  --box-shadow-hover: 0px 4px 4px hsla(0, 0%, 0%, 0.5);

  --scale-base: transform(scale(1.05));

  --clr-header: hsl(219, 59%, 9%);

  --clr-bg-primary: hsl(26, 31%, 84%);
  --clr-bg-secondary: hsl(0, 0%, 100%);
  --clr-bg-tertiary: hsl(60, 10%, 95%);
  --clr-bg-neutral: hsl(0, 0%, 100%);

  --clr-text-primary: hsl(219, 59%, 9%);
  --clr-text-secondary: hsl(0, 0%, 35%);
  --clr-text-tertiary: hsl(0, 0%, 60%);
  --clr-text-neutral: hsl(0, 0%, 100%);

  --clr-accent-primary: hsl(22, 31%, 76%);
  --clr-accent-secondary: hsl(22, 31%, 71%);

  --clr-danger-primary: #f07167;
  --clr-danger-secondary: #f44336;
}

/* Scrollbar */
/* Width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--clr-bg-tertiary);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--clr-accent-primary);
  height: 2rem;
  /* border-radius: 1rem; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--clr-dark);
}

.container {
  width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    width: calc(100% - 2rem);
    margin: 1rem;
  }
}
