@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

:root {
  --font: "Poppins", sans-serif;

  --navbar-height: 60px;
  --footer-height: 60px;

 
}

html[data-theme="dark"] {

}

/* Scrollbar */
/* Width */
::-webkit-scrollbar {
  width: 0.4rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--clr-lighter);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--clr-dark);
  height: 2rem;
  /* border-radius: 1rem; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--clr-dark);
}

.container {
  width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    width: calc(100% - 2rem);
    margin: 1rem;
  }
}