.infoCard {
  display: flex;
  padding: 4rem 0;
}

.leftContent {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
}

.rightContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 2rem 0;
}

.title {
  color: var(--clr-accent-primary);
  font-size: 2rem;
  margin-bottom: 2rem;
}

.description {
  color: var(--clr-text-primary);
  font-size: 1.2rem;
}

.button {
  align-items: center;
  background-color: var(--clr-accent-primary);
  border-radius: 0.2rem;
  color: var(--clr-text-neutral);
  display: flex;
  font-size: 1rem;
  height: 2.5rem;
  justify-content: center;
  margin-top: 2rem;
  max-width: 10rem;
  transition: var(--transition-fast);
  width: 100%;
}

.button:hover {
  background-color: var(--clr-accent-secondary);
}

.imageWrapper {
  border-bottom: 5px solid var(--clr-accent-primary);
  border-left: 5px solid var(--clr-accent-primary);
  padding: 0 0 0.3rem 0.3rem;
}

.image {
  height: 30rem;
  object-fit: cover;
  width: 25rem;
}

/* ==== Media Queries ==== */

@media (max-width: 920px) {
  .infoCard {
    flex-direction: column;
  }

  .rightContent {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .button {
    max-width: 80%;
  }

  .image {
    height: auto;
    width: 100%;
  }

  .imageWrapper {
    border-left: none;
    border-top: 5px solid var(--clr-accent-primary);
    padding: 0.5rem 0;
  }
}

@media (max-width: 500px) {
  .infoCard {
    padding: 0.5rem;
  }
}
