.teamMemberCard {
  align-items: center;
  background-color: var(--clr-bg-secondary);
  border-radius: 0.2rem;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  height: 32rem;
  overflow: hidden;
  transition: var(--transition-fast);
  width: 100%;
}

.imageWrapper {
  width: 100%;
}

.image {
  border-bottom: 4px solid var(--clr-accent-primary);
  height: 24rem;
  margin-bottom: 1rem;
  object-fit: cover;
  transition: var(--transition-fast);
  width: 100%;
}

.image:hover {
  opacity: 0.5;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 0 0 1rem 0;
}

.name {
  color: var(--clr-text-primary);
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.position {
  color: var(--clr-accent-primary);
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.button {
  text-transform: uppercase;
}

.button:hover {
  color: var(--clr-accent-secondary);
}

.button:focus {
  outline: none;
}

/* ==== Media Queries ==== */

@media (max-width: 850px) {
  .teamMemberCard {
    height: 45rem;
  }
  .image {
    height: 35rem;
    object-position: top;
  }
}
