.wrapper {
  align-items: center;
  background-color: var(--clr-bg-secondary);
  border-radius: 0.1rem;
  border-top: 5px solid var(--clr-accent-primary);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  height: 30rem;
  justify-content: space-between;
  padding: 3rem 2rem;
}

.title {
  color: var(--clr-text-primary);
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.description {
  color: var(--clr-text-secondary);
  font-size: 0.9rem;
  text-align: center;
}

.button {
  align-items: center;
  border-radius: 1rem;
  border: 3px solid var(--clr-accent-primary);
  color: var(--clr-text-tertiary);
  display: flex;
  font-size: 1rem;
  font-weight: 500;
  height: 3rem;
  justify-content: center;
  margin-top: 1.5rem;
  max-width: 12rem;
  min-width: auto;
  transition: var(--transition-fast);
  width: 100%;
}

.button:hover {
  background-color: var(--clr-accent-primary);
  color: var(--clr-text-neutral);
}

.iconWrapper {
  align-items: center;
  border-radius: 50%;
  border: 3px solid var(--clr-accent-primary);
  display: flex;
  height: 7rem;
  justify-content: center;
  margin-bottom: 1.5rem;
  width: 7rem;
}

.icon {
  color: var(--clr-accent-primary);
  font-size: 3rem;
}
