.statsSection {
  height: 20rem;
  background-color: var(--clr-bg-tertiary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 8rem 0;
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ==== Media Queries ==== */

@media (max-width: 920px) {
  .statsSection {
    height: 30rem;
    margin: 2 0;
  }

  .list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-items: center;
  }
}

@media (max-width: 530px) {
  .statsSection {
    height: 50rem;
    margin: 1 0;
  }
  .list {
    grid-template-columns: 1fr;
  }
}
