.statsSection {
  height: 20rem;
  background-color: var(--clr-bg-tertiary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 8rem 0;
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
