.footer {
  align-self: center;
  background-color: var(--clr-bg-tertiary);
  display: flex;
  height: var(--footer-height);
  justify-content: center;
  margin-top: 5rem;
}

.wrapper {
  align-self: center;
  display: flex;
  justify-content: center;
}

.copyright {
  color: var(--clr-text-primary);
  font-size: 1.1rem;
}

.accent {
  color: var(--clr-accent-secondary);
}
