.wrapper {
  background-color: var(--clr-bg-primary);
  height: calc(100vh - var(--navbar-height));
}

.container {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.leftContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  height: 100%;
}

.title {
  font-size: 2.5rem;
  color: var(--clr-text-neutral);
  margin-bottom: 2rem;
}

.description {
  font-size: 1rem;
  color: var(--clr-text-secondary);
}

.rightContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  height: 100%;
}
